resumen_plp/_minted-resumen
resumen/_minted-machete
practicas_solucion/_minted-practicas
practicas_solucion/_minted-practica_0
practicas_solucion/_minted-practica_1
practicas_solucion/_minted-practica_2
resumen/_minted-resumen
*.log
*.aux
*.out
*.gz
*.toc